<?xml version="1.0"?>
<config>
    <modules>
        <LucasCalazans_TemplateHint>
            <version>1.0.0</version>
        </LucasCalazans_TemplateHint>
    </modules>
    <global>
        <blocks>
            <lucascalazans_custom>
                <class>LucasCalazans_TemplateHint_Block</class>
            </lucascalazans_custom>
            <core>
                <rewrite>
                    <template>LucasCalazans_TemplateHint_Block_Template</template>
                </rewrite>
            </core>
        </blocks>
    </global>
</config>
